:root {
    --unit: 1vw;
    user-select: none;
}

@media (orientation: landscape) {
    :root {
        --unit: 1dvh;
    }
}

* {
    transition: all 1s linear;
}

body {
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent {
    position: relative;
    border-radius: 50%;
    width: calc(88 * var(--unit));
    height: calc(88 * var(--unit));
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border: calc(1 * var(--unit)) solid #ffffff;
    box-shadow: 10px 10px 50px black;
}

.second {
    width: calc(81 * var(--unit)) !important;
    height: calc(81 * var(--unit)) !important;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ffffff33;
    color: #00f7ff;
}

.minute {
    width: calc(70 * var(--unit)) !important;
    height: calc(70 * var(--unit)) !important;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ffffff33;
    color: #22b4b9;
}

.hour {
    width: calc(59 * var(--unit)) !important;
    height: calc(59 * var(--unit)) !important;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ffffff33;
    color: #368285;
}

.inside {
    width: calc(48 * var(--unit)) !important;
    height: calc(48 * var(--unit)) !important;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ffffff33;
    font-size: calc(3 * var(--unit));
    position: relative;
}

.inside i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    font-size: calc(4 * var(--unit));
    color: white;
    font-weight: bold;
}

.watch {
    position: absolute;
    width: 800px;
    height: 800px;
    border-radius: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-number {
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: 50% 150px;
    font-size: calc(2 * var(--unit));
    font-weight: bold;
    transition: all 0.1s;
}

.bold {
    font-weight: bolder;
    font-size: calc(3 * var(--unit));
    color: #ff00b3;
}


.ampm{
    position: absolute;
    top: 50%;
    left: 99%;
    transform: translate(-80%, -50%);
    font-size: calc(1 * var(--unit));
    font-weight: bold;
    transition: all 0.1s;
    z-index: 3;
}

/* .loading{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 10px solid;
    border-color: #00f7ff #ff00b3 #00f7ff #00f7ff;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */